In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('code-sml_5/datafile/iris.csv')
df.head()

   がく片長さ  がく片幅  花弁長さ   花弁幅           種類
0   0.22  0.63  0.08  0.04  Iris-setosa
1   0.17  0.42  0.35  0.04  Iris-setosa
2   0.11  0.50  0.13  0.04  Iris-setosa
3   0.08  0.46  0.26  0.04  Iris-setosa
4   0.19  0.67  0.44  0.04  Iris-setosa

In [4]:
# 種類を抽出
df['種類'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [5]:
# それぞれの種類ごとの個数
df['種類'].value_counts()

Iris-virginica     50
Iris-setosa        50
Iris-versicolor    50
Name: 種類, dtype: int64

In [6]:
df.tail()

     がく片長さ  がく片幅  花弁長さ   花弁幅              種類
145   0.67  0.42  0.54  0.92  Iris-virginica
146   0.56  0.21  0.69  0.46  Iris-virginica
147   0.61  0.42   NaN  0.79  Iris-virginica
148   0.53  0.58  0.63  0.92  Iris-virginica
149   0.44  0.42  0.41  0.71  Iris-virginica

In [7]:
# 欠損値NaNがある

In [8]:
df.isnull()

     がく片長さ   がく片幅   花弁長さ    花弁幅     種類
0    False  False  False  False  False
1    False  False  False  False  False
2    False  False  False  False  False
3    False  False  False  False  False
4    False  False  False  False  False
..     ...    ...    ...    ...    ...
145  False  False  False  False  False
146  False  False  False  False  False
147  False  False   True  False  False
148  False  False  False  False  False
149  False  False  False  False  False

[150 rows x 5 columns]

In [9]:
# Trueのところが欠損値

In [10]:
# sum関数で列ごとに合算する
# False=0, True=1 として扱う
df.isnull().sum()

がく片長さ    2
がく片幅     1
花弁長さ     2
花弁幅      2
種類       0
dtype: int64

In [11]:
# 欠損値の削除
df2 = df.dropna()
df2

     がく片長さ  がく片幅  花弁長さ   花弁幅              種類
0     0.22  0.63  0.08  0.04     Iris-setosa
1     0.17  0.42  0.35  0.04     Iris-setosa
2     0.11  0.50  0.13  0.04     Iris-setosa
3     0.08  0.46  0.26  0.04     Iris-setosa
4     0.19  0.67  0.44  0.04     Iris-setosa
..     ...   ...   ...   ...             ...
144   0.67  0.54  0.70  0.72  Iris-virginica
145   0.67  0.42  0.54  0.92  Iris-virginica
146   0.56  0.21  0.69  0.46  Iris-virginica
148   0.53  0.58  0.63  0.92  Iris-virginica
149   0.44  0.42  0.41  0.71  Iris-virginica

[143 rows x 5 columns]

In [12]:
# 平均値
df.mean()

がく片長さ    0.420878
がく片幅     0.440403
花弁長さ     0.486757
花弁幅      0.447432
dtype: float64

In [13]:
# 特定の列の平均値
df['がく片長さ'].mean()

0.42087837837837844

In [14]:
# 欠損値を平均値で埋める
col_mean = df.mean()
df3 = df.fillna(col_mean)
df3

     がく片長さ  がく片幅      花弁長さ   花弁幅              種類
0     0.22  0.63  0.080000  0.04     Iris-setosa
1     0.17  0.42  0.350000  0.04     Iris-setosa
2     0.11  0.50  0.130000  0.04     Iris-setosa
3     0.08  0.46  0.260000  0.04     Iris-setosa
4     0.19  0.67  0.440000  0.04     Iris-setosa
..     ...   ...       ...   ...             ...
145   0.67  0.42  0.540000  0.92  Iris-virginica
146   0.56  0.21  0.690000  0.46  Iris-virginica
147   0.61  0.42  0.486757  0.79  Iris-virginica
148   0.53  0.58  0.630000  0.92  Iris-virginica
149   0.44  0.42  0.410000  0.71  Iris-virginica

[150 rows x 5 columns]

In [16]:
df3.isnull().sum()

がく片長さ    0
がく片幅     0
花弁長さ     0
花弁幅      0
種類       0
dtype: int64

In [17]:
# 欠損値がなくなった

In [20]:
# 特徴量
x = df3[['がく片長さ', 'がく片幅', '花弁長さ', '花弁幅']]
x

     がく片長さ  がく片幅      花弁長さ   花弁幅
0     0.22  0.63  0.080000  0.04
1     0.17  0.42  0.350000  0.04
2     0.11  0.50  0.130000  0.04
3     0.08  0.46  0.260000  0.04
4     0.19  0.67  0.440000  0.04
..     ...   ...       ...   ...
145   0.67  0.42  0.540000  0.92
146   0.56  0.21  0.690000  0.46
147   0.61  0.42  0.486757  0.79
148   0.53  0.58  0.630000  0.92
149   0.44  0.42  0.410000  0.71

[150 rows x 4 columns]

In [21]:
# 正解データ
t = df3['種類']
t

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: 種類, Length: 150, dtype: object

In [22]:
from sklearn import tree

In [24]:
model = tree.DecisionTreeClassifier(random_state=0)

In [25]:
# 学習
model.fit(x, t)

DecisionTreeClassifier(random_state=0)

In [27]:
# 評価
model.score(x, t)

1.0

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
# 訓練データと検証データに分割
x_train, x_test, y_train, y_test = train_test_split(x, t, test_size=0.3, random_state=0)

In [34]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(105, 4)
(45, 4)
(105,)
(45,)

In [35]:
# 学習&評価
model2 = tree.DecisionTreeClassifier(random_state=0)
model2.fit(x_train, y_train)
model2.score(x_test, y_test)

0.8666666666666667