In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('code-sml_5/datafile/ex2.csv')

In [3]:
df.head()

         x0        x1        x2        x3  target
0 -1.244674  1.452124 -1.184385 -0.839169       1
1 -1.662920 -0.375804 -0.956673  0.380114       0
2 -1.926513       NaN -1.203904 -0.728801       1
3 -1.455014 -0.472972  0.500495 -0.809670       0
4 -1.255422  1.348182  0.827424 -0.334090       1

In [4]:
df.shape

(100, 5)

In [5]:
df.target

0     1
1     0
2     1
3     0
4     1
     ..
95    1
96    1
97    1
98    1
99    1
Name: target, Length: 100, dtype: int64

In [6]:
df.target.unique()

array([1, 0], dtype=int64)

In [7]:
df.target.value_counts()

1    80
0    20
Name: target, dtype: int64

In [8]:
df.isnull()

       x0     x1     x2     x3  target
0   False  False  False  False   False
1   False  False  False  False   False
2   False   True  False  False   False
3   False  False  False  False   False
4   False  False  False  False   False
..    ...    ...    ...    ...     ...
95  False  False  False  False   False
96  False  False  False  False   False
97  False  False  False  False   False
98  False  False  False  False   False
99  False  False  False  False   False

[100 rows x 5 columns]

In [9]:
df.isnull().sum()

x0        0
x1        1
x2        1
x3        0
target    0
dtype: int64

In [10]:
# 欠損値あり

In [11]:
m = df.mean()
df2 = df.fillna(m)

In [12]:
df2.isnull().sum()

x0        0
x1        0
x2        0
x3        0
target    0
dtype: int64

In [13]:
# 欠損値なし

In [14]:
# 特徴量
x = df2[['x0','x1','x2','x3']]
x

          x0        x1        x2        x3
0  -1.244674  1.452124 -1.184385 -0.839169
1  -1.662920 -0.375804 -0.956673  0.380114
2  -1.926513  0.598751 -1.203904 -0.728801
3  -1.455014 -0.472972  0.500495 -0.809670
4  -1.255422  1.348182  0.827424 -0.334090
..       ...       ...       ...       ...
95 -0.988204  0.934396  0.131865 -0.158939
96 -2.057470  2.869821 -0.887651 -0.741163
97 -1.669722  2.168812 -0.018603  0.607099
98 -1.011851  0.973641 -0.474993 -0.509644
99 -1.578463  2.076695  0.200962  2.533324

[100 rows x 4 columns]

In [15]:
# 正解データ
t = df2['target']
t

0     1
1     0
2     1
3     0
4     1
     ..
95    1
96    1
97    1
98    1
99    1
Name: target, Length: 100, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
# 訓練データと検証データに分割
x_train, x_test, y_train, y_test = train_test_split(x, t, test_size=0.2, random_state=0)

In [18]:
from sklearn import tree

In [19]:
model = tree.DecisionTreeClassifier(random_state=0)

In [20]:
model.fit(x_train, y_train)

DecisionTreeClassifier(random_state=0)

In [21]:
model.score(x_test, y_test)

0.95